
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  html{
    background-image: url('../assets/img/fondo.png');
    background-size:auto;
    background-repeat: no-repeat;
  }